 /**************
       Small devices (landscape phones, 576px and up)
***************/
 
@media (max-width: 767.98px) { 
     .navbar-toggle{
        background-color:#6fd1d5;
        border-color: transparent  !important;
    }
    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color:#6fd1d5 !important;
    }
       
    .navbar-collapse {
        background-color: #000;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding: 10px;
    }
    .navbar-collapse .pull-right {
    float: left !important;
}
    #home-heading h6 {
        padding: 0px 10px; 
        font-size: 12px;
    }
    #home-heading h3 {
    color: #fff;
    font-size: 20px;
    }
    #homes {
        height: 500px; 
    }
    #Teams {
        padding-top:30px;
        padding-bottom: 16px;
    }
    .content-title-underline {
        margin-bottom: 25px;
    }
    .team-content {
        padding:10px 15px;
    }
    .tajam-logo img {
        margin: 0 auto;
    }
    .content-title h5 {
        font-size: 12px;
    }
    .team-footer{
        margin-top: 15px;
    }
    .content-title h5 {
        margin: 10px 0;
    }
    .team-btn {
        margin-top: 15px;
    }
    .team-img img {
        width: 148px;
    height: 170px;}
    .team-box {
        display:block;
        margin-bottom: 10px;
    }
    
    .work-title h3 {
        font-size: 18px;
    }
    .see-all a {
        font-size: 12px;
    }
    .work-box {
        padding: 30px 0;}
    
    .work-btn {
        
        padding: 30px 0;
    }
    .service-item {
    padding: 20px 32px 20px 32px;
    }
    
      #People {
        padding-top: 20px;
        padding-bottom: 35px;
    }
    
    .testimonial-content p {
        margin-bottom: 30px;
        font-size: 14px;
    }
    .contact-title h3 {
        text-align: center;
        margin-top: 25px;
    }
    #contact {
    padding: 20px 0;
}
 #footer {
     box-shadow: inset 0 0 0 1000px rgb(27, 3, 60);
    }   

    .footer-box {
    padding-top: 30px;
}
  
    .footer-title {
    margin-bottom: 0px;
        padding: 15px 0;
}
    .footer-title h3 {
        margin: 0;
    }  
    .footer-content .form-control {
        width: 270px !important;
    }
    .social-list {
        text-align: center;
    }
    
    
    
    
}
    
    


 /**************
       Medium devices (tablets, 768px and up)
***************/
 
@media (min-width: 768px) and (max-width: 991.98px) { 
   
    .navbar-toggle{
        background-color:#6fd1d5;
        border-color: transparent  !important;
    }
    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color:#6fd1d5 !important;
    }
       
    .navbar-collapse {
        background-color: #000;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding: 10px;
    }
    .navbar-collapse .pull-right {
    float: left !important;
}
    #home-heading h6 {
        padding: 0px 20px; 
    }
    .team-box {
        display: block;
    }
    
    .team-img img {
        width: 156px; }
    .team-content {
        padding: 15px 15px; }
    .work-img img {
    height: 180px;
}
 .testimonial-content {
    padding: 0 70px;
}  
    .clients {
        margin-top: 40px;
    }
  .contact-title h3 {
text-align: center;
}  
    .client-logos {
            margin-left: 125px;
    }
    #footer .form-control {
    width: 162px;
}
 .service-item {
    padding: 15px 32px;
    }
    .social-list {
        width: 230px;
    }
  
    
    
    
    
    
    
      
}
 /**************
      Large devices (desktops, 992px and up)
***************/
 
@media (min-width: 992px) and (max-width: 1199.98px) {  }

 /**************
       Extra large devices (large desktops, 1200px and up)
***************/
 
@media (min-width: 1200px) { 


}